name: Test

on:
  push:
    branches: ["main"]
  pull_request:
    types: [opened, synchronize]
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Bun
        uses: oven-sh/setup-bun@v2
        with:
          #  use latest so we know if something breaks
          bun-version: latest

      - name: Install dependencies
        run: bun install

      - name: Run tests
        run: bun run ci
